.middle {
  position: relative;
  flex: 9 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  //background-color: $dpmiddlebg;
  background: transparent;
  height: 100%;
  margin-top:0;
  padding: 0px 0px 0px 0;

  .middlemaincontent {
    flex:9;
    align-items: center;
    position: relative;
    height: 100%;
    margin:0px;
    padding:20px;
    //background-color: $dpmiddlemaincontentbg;
    background: transparent;
    .dp-button-topleft {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .board{
      margin-top:60px;
    }
  }
}