<!--
  Generated template for the TileComponent component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div class="tile">
    
    <!-- tile image -->
    <ion-row>
        <ion-col>
            <img src="img/2.jpg" />
        </ion-col>
    </ion-row>
    
    <!-- tile fabric js canvas -->
    <ion-row>
        <ion-col>
            <img src="img/2.jpg" />
        </ion-col>
    </ion-row>
    
    <!-- tile text etc -->
    <ion-row class="text-center tile-bottom-bar padding">
        <ion-col width-10 class="tile-bottom-bar-left">
            <div class="small-text">Conceived</div>
            <div>2015</div>
        </ion-col>
        <ion-col class="text-center tile-bottom-bar-center">This is the title</ion-col>
        <ion-col width-10 class="tile-bottom-right">
            <div class="small-text accent-light">Achieved</div>
            <div class="accent-normal">2016</div>
        </ion-col>
    </ion-row>
</div>